body{
    margin:0;
    background:#111;
    color:white;
    font-family:sans-serif;
    text-align:center;
}

.container{
    max-width:400px;
    margin:auto;
    padding:20px;
}

#mode{
    font-size:30px;
    margin-top:20px;
}

#timer{
    font-size:80px;
    font-weight:bold;
    margin:20px 0;
}

input{
    width:100%;
    padding:15px;
    margin-top:10px;
    box-sizing:border-box;
}

button{
    width:100%;
    padding:15px;
    margin-top:10px;
}

.work{
    background:#146b2d;
}

.rest{
    background:#0d47a1;
}